body{
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    /*font-family: "Courier New", monospace;*/
    /*font-family: Georgia, serif;*/
    /*font-family: Copperplate, Papyrus, fantasy;*/
    color: white;
    background-color: dodgerblue;
    /*text-align: center;*/
    margin: 50px;
    font-size: 125%;
}
p, .headings{
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}
img{
    width: 25%;
    height: auto;
}
.big{
  font-size: 26px;
  font-weight: bold;
}

nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
  
}
nav li{
  background-color: pink;
  border: 2px solid black;
  
}
li a{
  display: block;
  padding: 10px;
  
  
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: dodgerblue;
    background-color: yellow;
    text-decoration: none;
  }
  a:active {
    color: dodgerblue;
    background-color: transparent;
    text-decoration: none;
  }

  ul{
    list-style-type: circle;
  }

  table, th, td {
    border: 1px solid;
    width: 75%;
    padding: 10px;
    background-color: pink;
    color: black;
    border-radius: 25px;
  }