body{
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    /*font-family: "Courier New", monospace;*/
    /*font-family: Georgia, serif;*/
    /*font-family: Copperplate, Papyrus, fantasy;*/
    color: white;
    background-color: dodgerblue;
    /*text-align: center;*/
    margin: 50px;
    font-size: 125%;
}
p{
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}
img{
    width: 25%;
    height: auto;
}
.big{
  font-size: 26px;
  font-weight: bold;
}

a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: yellow;
    background-color: black;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
