body{
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    /*font-family: "Courier New", monospace;*/
    /*font-family: Georgia, serif;*/
    /*font-family: Copperplate, Papyrus, fantasy;*/
    color: white;
    background-color: dodgerblue;
    /*text-align: center;*/
}
img{
    width: 25%;
    height: auto;
}